{{ define "main" }}
<div class="container mx-auto my-4">
    <!-- Heading -->
    <div class="text-center">
        <h2 class="text-4xl lg:text-5xl  font-bold text-primary mb-2">
            About Me
        </h2>
        <hr class="mb-4">
    </div>

    <!-- 2 Columns on big screens  -->
    <div class="lg:flex">
        <div class="lg:w-1/4 mb-4 lg:mb-0">
            <!-- About Image -->
            <img src="{{ .Site.BaseURL }}images/about.png" alt="Your Name" class="rounded-lg h-auto w-full">
        </div>
        <div class="lg:w-10/12 lg:pl-8">
            <!-- Name -->
            <h1 class="font-heading text-xl sm:text-2xl md:text-3xl mb-5">
                Hi, I am <span class="text-primary font-semibold font-body text-2xl sm:text-3xl md:text-4xl">{{
                    .Site.Params.About.Name }}</span>
            </h1>
            <!-- Description -->
            <p class="text-lg font-body">{{ .Site.Params.About.Description }}</p>
            <br>
            <p class="text-lg font-body">{{ .Site.Params.About.Description_2 }}</p>
        </div>
    </div>

    <div class="mt-8">
        <h3 class="text-2xl font-bold text-primary mb-2 underline">
            What I`m Doing
        </h3>
        <div class="flex flex-wrap items-center justify-center text-center">
            {{ range .Site.Params.Doing }}
            <div class="w-full md:w-1/4 lg:w-1/4 xl:w-1/4 my-2 p-2">
                <div class="max-w-sm h-full overflow-hidden border-2 rounded shadow-2xl relative backdrop-blur">
                    <!-- Image -->
                    <span class="absolute bottom-0 right-0 m-2">
                        <span class="flex">
                            <span class="rounded-md backdrop-blur px-1 py-1">
                                <img src="{{ .Image }}" alt="{{ .Image }}">
                            </span>
                        </span>
                    </span>
                    <!-- Content -->
                    <div class="relative z-10 min-h-36 px-6 py-4 flex flex-col justify-between">
                        <div
                            class="font-bold font-heading text-xl mb-2 text-dark-secondary hover:underline hover:underline-offset-2">
                            {{ .Name }}</div>
                        <p class="text-lg font-body">{{ .Description }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>


    </div>

    <div class="mt-8">
        <!-- Education -->
        <h3 class="text-2xl font-bold text-primary mb-4 underline">
            Education
        </h3>
        <div class="flex flex-row">
            <ul>
                {{ range .Site.Params.Education }}
                <li class="mb-4">
                    <h2 class="font-bold font-body text-lg md:text-xl lg:text-2xl mb-1">{{ .From }}</h2>
                    <span class="text-dark-secondary text-sm md:text-base lg:text-base">{{ .Year }}</span>
                    <p class="font-body text-base md:text-lg lg:text-lg mt-2">{{ .Description }}</p>
                </li>
                {{ end }}
            </ul>
        </div>

        <!-- Skills -->
        <div class="mt-4">
            <h3 class="text-2xl font-semibold text-primary mb-2">
                Skills
            </h3>
            <ul class="list-disc list-inside text-gray-700">
                <!-- Add more skills as needed -->
            </ul>
        </div>

        <!-- Portfolio -->
        <div class="mt-4">
            <h3 class="text-2xl font-semibold text-primary mb-2">
                Portfolio
            </h3>
            <!-- Add your portfolio items here -->
        </div>
    </div>
</div>
{{ end }}