<!-- Twitter meta tag for specifying the Twitter username of the site -->
<meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
<!-- Twitter meta tag for specifying the Twitter username of the content creator -->
<meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />
<!-- Open Graph meta tag for specifying the Facebook App ID -->
<meta property="fb:app_id" content="538089519640705" />
<!-- Open Graph meta tag for specifying the Facebook IDs of the content administrators -->
<meta property="fb:admins" content="100000686899395" />