<footer class="bg-white rounded-lg shadow m-4">
    <!-- Copyright notice with the current year -->
    {{ if .Site.Params.Footer.showCopyright }}
    <div class="mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © {{ now.Year }}. <a href="{{ .Site.BaseURL }}" class="hover:underline font-semibold">{{ .Site.Title
                }}™</a>. All Rights
            Reserved.
        </span>
        {{ end }}

        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            {{ range .Site.Menus.footermenu }}
            <li><a href="{{ .URL }}" class="hover:underline me-4 md:me-6" aria-current="page">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
</footer>
<!-- ======================================================================== -->
<!-- =============================== Scripts ================================ -->
<!-- ========================================================================-->
{{ partialCached "head/js.html" . }}
</body>

</html>