{{ if .Site.Params.Preloder }}
{{ if .IsHome }}
<style>
    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        border-top: 4px solid #FFF;
        border-right: 4px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border-bottom: 4px solid #FF3D00;
        border-left: 4px solid transparent;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div id="preloader" class="preloder">
    <div class="flex flex-col items-center justify-center w-full h-screen">
        <span class="loader"></span>
    </div>
</div>
<script>
    // Wait for the document to fully load
    document.addEventListener('DOMContentLoaded', function () {
        // Optionally, you can add a delay before hiding the preloader
        setTimeout(function () {
            // Add the "hidden" class to the preloader
            document.getElementById('preloader').classList.add('hidden');
            document.getElementById('main').classList.remove('hidden');
        }, 2500); // Adjust the delay time as needed or set to 0 for immediate hiding
    });
</script>
{{ end }}
{{ end }}